/* Administrative Section Styles */
.administrative-section {
  background-color: black;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* Heading Style */
.heading {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: white;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  position: absolute;
  left: 145px;
  bottom: 5%;
  display: flex;
  align-items: center;
}

.heading-dot {
  color: #1263ff;
  font-size: 4rem;
  margin-left: 10px;
}

/* Slider Container */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
  margin-left: 3.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  max-width: 80%;
}

/* Slider Button */
.slider-btn {
  background-color: black;
  border: none;
  color: #1263ff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.slider-btn:hover {
  color: white;
}

/* Card Style */
.card {
  background-color: black;
  color: white;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 23, 135, 0.824);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  min-width: 250px;
  max-width: 400px;
  min-height: 250px;
  max-height: 400px;
  padding: 1rem;
  flex-shrink: 0;
  scroll-snap-align: start;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.card:hover {
  box-shadow: 0 4px 20px rgb(17, 0, 255);
}

.card h3 {
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.card p {
  font-size: 1rem;
}

/* Slider Navigation (Dots) */
.slider-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #504979;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #1263ff;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
    top: 70%;
  }

  .slider-container {
    margin-top: 5rem;
  }

  .card {
    min-width: 250px;
  }
}
