/* Reset margin, padding, and box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure html and body span the full viewport */
html,
body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Apply font globally */
body {
  font-family: "Montserrat", sans-serif;
}
