/* Fullscreen container */
.container {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Landing Section */
.landingSection {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  border-bottom: 1px solid #d3d3d3;
}

.landingSection:last-child,
.aboutSection:last-child,
.missionSection:last-child,
.teamSection:last-child,
.servicesSection:last-child,
.contactSection:last-child {
  border-bottom: none; /* Remove the border for the last section */
}

.logoWrapper {
  z-index: 1;
}

.logo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Add a thin gray border between each section */
.aboutSection,
.missionSection,
.teamSection,
.servicesSection,
.contactSection {
  padding: 2rem;
  border-bottom: 0.5px solid #7f7f7f; /* Thin gray border */
  color: inherit !important;
  padding: 0 !important;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .landingSection {
    padding: 1rem;
    min-height: 80vh;
  }

  .logoWrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .landingSection {
    padding: 0.5rem;
  }

  .logoWrapper {
    margin-bottom: 1rem;
  }
}
